@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

[epub|type~="dedication"] > p:first-of-type + p{
	text-indent: 0;
}

/* Epigraph */
[epub|type~="epigraph"]{
	font-style: italic;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

/* Bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: center;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

/* Letter */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* Poem/Verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

/* Blockquote language italics */
blockquote[xml|lang]{
	font-style: italic;
}

/* Figures */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

figcaption i{
	font-style: normal;
}

/* Figure sizes and placement */
figure.full-page{
	break-after: page;
	break-before: page;
}

figure.right{
	float: right;
	margin: 1em 0 1em 1em;
	width: 45%;
}

/* Smaller figure at the beginning of the chapter. */
hgroup + figure,
header figure{
	margin: 1em auto;
	max-width: 70%;
}

/* Diary entries in Across the Plains. */
#across-the-plains [epub|type~="z3998:diary"] section + section p:first-child{
	text-indent: 1em;
}

#across-the-plains [epub|type~="se:diary.dateline"]{
	font-style: italic;
}

/* Invoice in The Silverado Squatters. */
#the-silverado-squatters-3 blockquote header p{
	font-style: italic;
}

#the-silverado-squatters-3 blockquote header p span{
	font-style: normal;
}

#the-silverado-squatters-3 blockquote header p + p{
	margin-bottom: 1em;
	text-align: initial;
}

#the-silverado-squatters-3 table td{
	font-variant-numeric: tabular-nums;
	padding: .1em .5em;
	text-align: right;
}

#the-silverado-squatters-3 table tfoot td:last-child{
	border-top: 1px solid;
	padding-top: .2em;
}
